/* Estilo global */
body {
  font-family: Roboto;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Contenedor principal */
.container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #F5F5DC;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Título principal */
h2 {
  font-family: Satisfy;
  margin: 0;
  font-size: 4em;
  color: #333;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra suave */
}


/* Contenedor de tarjetas */
.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

/* Estilo de cada tarjeta */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.2em;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


/* Paleta de colores de redes sociales (colores originales) */
#Facebook {
  background-color: #4267B2; /* Azul Facebook */
}

#Instagram {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4); /* Arcoíris Instagram */
  color: white;
}

#Youtube {
  background-color: #FF0000; /* Rojo YouTube */
}

#Whatsapp {
  background-color: #25D366; /* Verde WhatsApp */
}

#tiktok {
  background-color: #000000; /* Negro TikTok */
}

/* Estilo del contenedor de formulario */
#Form {
  background-color: #A9D0F5; /* Azul pastel */
  color: #333;
}

/* Enlaces dentro de las tarjetas */
.card a {
  color: white;
  text-decoration: none;
}



img {
  width: 40px; /* Ajusta el tamaño según tus necesidades */
  height: auto; /* Mantiene las proporciones del SVG */
  display: inline-block; /* Asegura que se alinee bien con otros elementos */
  margin-right: 8px; /* Espacio a la derecha si está junto al texto */
  vertical-align: middle; /* Centra verticalmente con texto cercano */
}
